@media(max-width: 767px){
    .container_over{
        width: 100%;
    }
    #slider-top{
        
        .owl-controls{
            display: none !important;
        }
    }
}
@media(min-width: 768px){
    .container_over{
        width: 750px;
    }
    #slider-top{
        .owl-controls{
            display: none !important;
        }
    }
}
@media(min-width: 991px){
    .container_over{
        width: 970px;
    }
}
@media(min-width: 1200px){
    .container_over{
        width: 1170px;
    }
}
@media(min-width: 1290px){
    .container_over{
        width: 1170px;
    }
    #slider-top{
        .owl-controls{
            display: block !important;
        }
    }
}
@media(min-width: 1370px){
    .container_over{
        width: 1250px;
    }
}
@media(min-width: 1480px){
    .container_over{
        width: 1360px;
    }
}



@media (max-width:991px){
    
    .top{
        #slider-top{
            width: 100% !important;
        }
    }
    .testimonials{
        .item{
            .left{
                width: 100% !important;
            }
            .right{
                width: 100% !important;
            }
        }
        .testimontials_slider{
            width: 100%;
        }
    }
    .section-map{
        .content{
            width: 70%;
        }    
    } 
    .gallery_description{
        h4{
            top: 50%;
        }    
    }
    .one-of-four{
        width: 50%;
    }
    .about{
        .col-md-7{
            border-right: 0;
        }
    }
    #contact{
        .content{
            ul{
                li{
                    display: block;
                    text-align: center;
                    margin-bottom: 10px;
                    &::after{
                        background-color: #9a9a9a;
                        content: "";
                        display: inline-block;
                        height: 1px;
                        position: absolute;
                        right: 0;
                        top: 7px;
                        width: 77px;
                    }
                    &::before{
                        background-color: #9a9a9a;
                        content: "";
                        display: inline-block;
                        height: 1px;
                        left: 0;
                        position: absolute;
                        top: 7px;
                        width: 77px;
                    }
                }
            }
        }
    }
}
@media (max-width:768px){
    header{
        position: fixed !important;
        padding-top: 20px !important;
        background-color: white !important;
        z-index: 999 !important;
        nav{
            text-align: left;
        }
    }
    main{
        margin-top: 136px;
    }
    .one-of-four{
        width: 50%;
    }
    #top{
        #slider-top{
            .owl-controls{
                display: none !important;
            }    
        }     
    } 
    header{
        &.navbar{
            height: 136px;
        }
        .navbar-header{
            .navbar-toggle{
                margin-top: 35px;
            }
            .navbar-brand{
                margin-top: 6px;
            }
            
        }
        .navbar-collapse{
            background-color: white;
        }
        nav{
            ul{
                li{
                    a{
                        padding-top: 10px !important;
                        padding-bottom: 10px !important;
                    }
                }
            }    
        }
        
    }
    .counter-section{
        article{
            margin-bottom: 20px;
        }
    }
    #slider-testimonials{
        .item{
            .left{
                padding-right: 0 !important;
            }
            .right{
                padding-left: 0 !important;
            }
        }
    }
    .section-map{
        .content{
            width: 100%;
        }    
    } 
}
@media (max-width:480px){
    .one-of-four{
        width: 100%;
    }
}